@import url("../../breakpoints.css");

.root {
  min-width: 240px;
  padding: 12px 20px;
  background: var(--primary-color);
  color: var(--color-dark);
  border: 0;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;

  @media (--s-viewport) {
    width: 100%;
  }
}

.root:hover {
  background: var(--primary-colorPressed);
}

.loader {
  animation: rotating 2s linear infinite;
  filter: invert(0) !important;
  height: 18px;
  width: 18px;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
