@import url("../../breakpoints.css");

.root {
  min-width: 240px;
  padding: 0 20px;
  height: 46px;
  line-height: 46px;
  background: var(--primary-color);
  color: var(--color-dark);
  border: 0;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (--s-viewport) {
    width: 100%;
    min-width: 100%;
  }

  &:hover {
    background: var(--primary-colorPressed);
  }

  &_theme_secondary {
    background: var(--background-color);
    color: var(--text-color);
    border: 2px solid var(--text-color);
  }

  &_theme_secondary:hover {
    background: var(--alternate-background-color);
  }
}

.loader {
  animation: rotating 2s linear infinite;
  filter: invert(0) !important;
  height: 18px;
  width: 18px;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
