.root {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--color-bg-brand);
  color: var(--color-text-primary-inverse);
  padding: 16px var(--spacing-48) 16px 16px;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  [data-theme='dark'] & {
    background-color: #0003;
  }
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
}
