.root {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-08);
  background-color: var(--color-bg-brand);
  color: var(--color-base-white);
  padding: var(--spacing-16) var(--spacing-48) var(--spacing-16) var(--spacing-16);
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.close {
  position: absolute;
  top: var(--spacing-08);
  right: var(--spacing-08);
}
