.root {
  background-color: var(--color-blue-iris);
  color: var(--color-white);
  padding: 16px;
  text-align: center;
  position: absolute;
  top:0;
  left:0;
  right:0;

  [data-theme="dark"] & {
    background-color: #0003;
  }
}
