@import url("../../breakpoints.css");

.root {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 50px 24px 16px;
  min-height: 100vh;

  @media (--s-viewport) {
    padding: 50px 8px 16px;
  }
}

.container {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-grow: 1;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex-grow: 1;
}

.sidebar {
  min-width: 300px;
  display: flex;

  @media (--m-viewport) {
    display: none;
  }
}

.footer {
  text-align: center;
  padding-top: 40px;
}
