[data-fsd] {
  outline: 2px solid var(--color);
  position: relative;
  --color: #fa0ee9;
  background-color: var(--bg-color);
}

[data-fsd]::after {
  content: attr(data-fsd);
  pointer-events: none;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: border-box;
  background: var(--color);
  color: white;
  font-size: 10px;
  line-height: 1;
  font-weight: bold;
  padding: 0 2px;
  font-family: sans-serif;
}
