:root {
  --text-color: #121416d8;
  --link-color: #543fd7;
  --background-color: #fff;
  --alternate-background-color: #f7f7f9;
  --primary-color: #fbf11f;
  --primary-colorPressed: #eff32c;

  /* Global colors */
  --color-white: #fff;
  --color-dark: #212a2e;
  --color-blue-iris: #543fd7;;
}

html[data-theme="light"] {
  --text-color: #121416d8;
  --link-color: #543fd7;
  --background-color: #fff;
  --alternate-background-color: #f7f7f9;
}

html[data-theme="dark"] {
  --text-color: #F7F8F8;
  --link-color: #828fff;
  --background-color: #212a2e;
  --alternate-background-color: #1a2327;
}
