@import url("../../shared/breakpoints.css");

/* TODO: Move to widgets */
.root {
  display: flex;
  gap: 32px;

  @media (--m-viewport) {
    flex-direction: column;
  }
}

.images {
  width: 66%;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  @media (--m-viewport) {
    width: 100%;
  }
}

.images img {
  width: calc(50% - 16px);
}
