@import url('/src/shared/breakpoints.css');

.root {
  width: 244px;
  height: 31px;
  background-image: url('/images/logo@light.png');
  background-size: contain;
  background-repeat: no-repeat;

  [data-theme='dark'] & {
    background-image: url('/images/logo@dark.png');
  }

  @media (--xs-viewport) {
    width: 24px;
    height: 24px;
    background: none;
  }
}

.root::before {
  @media (--xs-viewport) {
    content: '⚛️';
  }
}
