.root {
  position: relative;
  height: 24px;
  width: 24px;

  &_clickable {
    cursor: pointer;
  }

  &_clickable:hover,
  &_clickable:active {
    background-color: #0001;
    border-radius: 8px;
  }

  :global([data-theme="dark"]) & {
    filter: invert(1);
  }
}

.icon {
  width: 100%;
  height: 100%;
  background-size: cover;
}

