.root {
  position: relative;
  height: 24px;
  width: 24px;

  &:hover,
  &:active {
    background-color: #0001;
    border-radius: 8px;
  }

  &_clickable {
    cursor: pointer;
  }
}

.icon {
  width: 100%;
  height: 100%;
  background-size: cover;
}

/* Not working for external svg
:global(data-theme="dark") .icon svg path {
  color: var(--color-text) !important;
}
*/
