.root {
  display: flex;
  align-items: baseline;
}

.oldPrice {
  margin-left: 4px;
  color: var(--color-grey1);
  text-decoration: line-through;
  opacity: 0.3;
}

.badge {
  margin-left: 4px;
  padding: 0 2px;
  background: var(--text-color);
  color: var(--background-color);
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
}
