.root {
  display: flex;
  align-items: baseline;
}

.oldPrice {
  margin-left: 4px;
  color: var(--color-text-secondary);
  text-decoration: line-through;
  opacity: 0.3;
}

.badge {
  margin-left: 4px;
  padding: 0 2px;
  background: var(--color-bg-primary-inverse);
  color: var(--color-text-primary-inverse);
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
}
