.root {
  width: 300px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  background-color: var(--alternate-background-color);
}

.title {
  padding: 0 16px;
}

.empty {
  padding: 0 16px;
}
