.buttonContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  line-height: 16px;
}

.buttonAction {
  padding: 0 15px;
  line-height: inherit;

  &:hover {
    background: var(--color-bg-brand);
    opacity: 0.7;
  }
}

.outOfStock {
  font-size: 12px;
}

.outOfStockAction {
  opacity: 0.4;
}
