.buttonContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  line-height: 16px;
}

.buttonAction {
  padding: 0 15px;
  line-height: inherit;

  &:hover {
    background: var(--primary-color);
    opacity: 0.7;
  }
}

.noMore {
  font-size: 12px;
}

.noMoreAction {
  color: var(--color-dark);
  opacity: 0.4 !important;
}

.root {
  &_noMore:hover {
    background: var(--primary-color) !important;
  }
}