.root {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  overflow: hidden;

  cursor: pointer;

  &_size_s {
    flex-direction: row;
    gap: 8px;
  }
}


.image {
  display: block;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  background-size: cover; 
  aspect-ratio: 1;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;

  .root:active & {
    filter: brightness(93%);
  }
}

.imageContainer {
  background-color: var(--alternate-background-color);

  .root_size_s & {
    width: 30%;
  }
}

.actions {
  position: absolute;
  top: 12px;
  right: 12px;
}

.content {
  padding: 8px 0px;
}

.title {
  flex-grow: 1;

  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.oldPrice {
  margin-left: 4px;
  color: var(--color-grey1);
  text-decoration: line-through;
  opacity: 0.3;
}
