.menu {
  min-width: 164px;
  padding: 16px 0;
  background: var(--color-bg-primary);
  border-radius: 24px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 25%);
  z-index: 10;
}

.header {
  padding: 8px 16px;
}

.item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  color: var(--color-text-primary);
  cursor: pointer;
  outline: none;
}

.item[data-highlighted],
.item_selected {
  background: var(--color-bg-primary-pressed);
}

.item[data-disabled] {
  opacity: 0.5;
  cursor: default;
}
