.root {
  height: 68px;
  padding: 16px 0;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right {
  display: flex;
  flex-grow: 2;
  justify-content: flex-end;
  gap: 16px;
}

